.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: darkolivegreen;
  color: white;

  .big-title {
    font-size: 30px;
    font-family: "Adobe Fangsong Std R", "sans-serif";
    margin: 0 10px;
  }

  .filtering-options {
    margin: 0 10px;

    .radio-group-label {
      color: white;
    }

    .radio-group {
      display: flex;
      flex-flow: row;
      margin: 0 10px;

      .radio-label {
        .radio-class {
          color: white;
          &.Mui-checked {
            color: #ff74c2;
          }
        }
      }
    }

.switch-form-control-class {
  color: white;

  .switch-class {
    .Mui-checked {
      color: #ff74c2;
    }

    .MuiSwitch-track {
      background-color: #ffb8e0;;
    }
  }
}

  }


}


.container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 300px;
  height: 350px;
  padding: 10px;
  border: 1px solid #222222;
  border-radius: 5px;
  margin: 10px;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  background: #303030;

  .thumbnail {
    max-height:300px;
    max-width: 300px;
  }
}

.full-data-modal {

  .app-bar-modal {
    background: darkolivegreen;
  }

  .modal-content {
    overflow: scroll;
    background: #eeeeee;

    .modal-header {
      display: flex;
      background: #eeeeee;
      color: #222222;

      .title-container {
        width: 70%;
      }
      .details-container {
        width: 30%;
        display: flex;
        justify-content: space-between;
      }
    }

    .description {
    }

    .voting {
      align-content: center;
      text-align: left;
      .ups-label {
        display: inline-block;
        color: green;
        font-size: 36px;
        width: 30px;
      }
      .downs-label {
        display: inline-block;
        color: red;
        font-size: 26px;
        width: 30px;
      }

    }

    .score-container {
      padding: 15px;
      font-weight: bold;
    }

    .full-size-image-container img {
      max-height:500px;
      max-width: 500px;
      //overflow: scroll;
    }
  }
}
